<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex - Landing Page</title>
</head>

<body>
    <header>
        <h1>Bienvenido a la Pokedex</h1>
        <nav>
            <ul>
                <li><a routerLink="/pokemons">Ver Todos los Pokémon</a> </li>
                <li><a routerLink="/favoritos">Ver Pokémon Favoritos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="introduction">
            <h2>Descubre tu Pokémon Favorito</h2>
            <p>
                Explora la lista completa de Pokémon y marca tus favoritos para tener un acceso rápido a ellos.
                ¡Comienza tu aventura Pokémon ahora!
            </p>
        </section>

        <section class="features">
            <h2>Características</h2>
            <ul>
                <li>Buscar y ver detalles de todos los Pokémon.</li>
                <li>Agregar Pokémon a tu lista de favoritos.</li>
                <li>Acceso rápido a tus Pokémon favoritos desde cualquier parte.</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Pokedex. Todos los derechos reservados.</p>
    </footer>
</body>

</html>